<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.1, shrink-to-fit=no, user-scalable=no">

        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>
            About Page
        </title>        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="./img/profile.jpg">
            <p>
                {{name}} ka Dhaasu APP jo tera location puchke weather batayega. 
                Uses data from mapbox.com and darksky.net to tell you weather :)
            </p>
        </div>
        {{>footer}}
    </body>
</html>