<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.1, shrink-to-fit=no, user-scalable=no">

        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>
            Help Page
        </title>
    </head>
    <body>
        <div class="main-content"> 
            {{>header}}
            <ol>
                <li>
                    {{contacts.0.name}}<br>
                    {{contacts.0.details}}
                </li>
            </ol>
        </div>
        {{>footer}}
    </body>
</html>