body {
    color:#333333;
    font-family: arial;
    max-width: 85vw;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    font-size: min(20px,2.5vh);
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 3vh;
}

h1 {
    font-size: min(10vh, 55px);
    margin-top: 0px;
    margin-bottom: 16px;
    text-shadow: 2px 2px 3px #888888;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: min(40vw, 250px);
}

.about-content {
    margin-bottom: 0px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

#message-1 #message-2 {
    font-size: min(13px,2.5vh);
}